[mergetool]
  keepBackup = true
  prompt = false
[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
  autocrlf = input
[init]
  defaultBranch = master
[web]
  browser = edge
[diff]
  ignoreSubmodules = dirty
[pull]
  ff = only
[includeIf "gitdir:~/Workspace/Beliven - GitLab CE/"]
  path = ~/.oh-my-custom-zsh/git/.gitconfig_glab_ce_beliven
[includeIf "gitdir:~/Workspace/Beliven - GitLab.com/"]
  path =~/.oh-my-custom-zsh/git/.gitconfig_glab_com
[includeIf "gitdir:~/Workspace/Beliven - GitHub.com/"]
  path = ~/.oh-my-custom-zsh/git/.gitconfig_ghub_com
[includeIf "gitdir:~/Workspace/Personal - GitHub.com/"]
  path = ~/.oh-my-custom-zsh/git/.gitconfig_ghub_com_personal
[includeIf "gitdir:~/.oh-my-custom-zsh/"]
  path = ~/.oh-my-custom-zsh/git/.gitconfig_ghub_com_personal
[includeIf "gitdir:~/Workspace/AQuest - GitLab CE/"]
  path = ~/.oh-my-custom-zsh/git/.gitconfig_glab_ce_aquest
