[mergetool]
  keepBackup = true
  prompt = false
[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global
[web]
  browser = edge
[diff]
  ignoreSubmodules = dirty
[pull]
  ff = only
[includeIf "gitdir:~/Workspace/"]
  path = ~/.gitconfig_workspace
[includeIf "gitdir:~/GitHub/"]
  path = ~/.gitconfig_github
[includeIf "gitdir:~/.oh-my-custom-zsh/"]
  path = ~/.gitconfig_github
