/*
	Instructions for macOS users:
	- In VS Code, install the plugin 'Custom CSS and JS Loader' (https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css).
	- Put this CSS file where you want (i.e: /Users/username/.vscode/style.css).
  - Open VS Code settings and add:
      "vscode_custom_css.imports": [
        "file:///Users/username/.vscode/style.css"
      ]
	- Make sure the path is referencing the same place where you put this CSS file.
	- Check that you can open the file in your settings with 'CMD + click' or 'CTRL + click'. It should be underlined.
	- Hit 'CMD + shift + P' and type 'Enable Custom CSS and JS'.
  - Close and reopen VS Code, check that everything works.
  - If VS Code complains about is corrupted, click "Don't show again".

	P.S:
		If it doesn't work. Disable the plugin, restart VS Code then enable it back.
		If it still doesn't work, click Help > Toggle Developer Tools and check the
		css classes in your editor. It might be different according to your theme of version.
		Finally, update the classes in this file with what you got.
*/

/*
  This changes font-family in all VS Code
*/
.monaco-shell,
.mtk1,
.mac {
  font-family: "JetBrains Mono", "Fira Code" !important;
}

/*
  This makes the dirty tab circle colored
*/
.vs-dark
  .monaco-workbench
  > .part.editor
  > .content
  > .one-editor-silo
  > .container
  > .title
  .tabs-container
  > .tab.dirty
  .close-editor-action,
.vs-dark
  .explorer-viewlet
  .explorer-open-editors
  .monaco-list
  .monaco-list-row.dirty:not(:hover)
  > .monaco-action-bar
  .close-editor-action {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Ccircle fill='%23ff79c6' cx='8' cy='8' r='4'/%3E%3C/svg%3E")
    50% no-repeat;
}

/*
  This puts a thin colored border around the found items just like Sublime Text
*/
.monaco-editor .findMatch,
.monaco-editor .selectionHighlight {
  border: 1px solid #ff79c6;
  border-radius: 2px;
  background: transparent;
}
